<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>
<style>
    h1{
        font-size: 2.5em;
            color: #F2F2F2; /* Tom de laranja */
            text-align: center;
    }
</style>
<body>
    <div class="card">
    <h1> Login no Sistema</h1>
    <form action="/login" method="post">
        <label for="txtCodigo">Login:</label>
        <input type="text" name="txtLogin" /><br/>
        <label for="txtCodigo">Senha:</label>
        <input type="password" name="txtSenha" />
        <input type="submit" name="b1" value="Logar" />
    </form></div>
</body>
</html>