<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topo - Natura</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 15px;
            text-align: center;
        }
        body {
            background-color: #f0efe9;
        }
    </style>
</head>
<body>
<center>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="cadastrar.html" target="principal">
                        <img src="../image/img6.jpg" width="50" alt="Cadastrar">
                    </a>
                    <a href="login.html" target="principal">
                        <img src="../image/img8.jpg" width="50" alt="Login">
                    </a>
                </td>
                <td>
                    <img src="../image/img5.jpg" align="center" width="150" alt="Logo Natura"/>
                </td>
                <td>
                    <a href="principal.html" target="principal">
                        <img src="../image/img7.jpg" width="50" alt="Home">
                    </a>
                    <a href="/carrinho" target="principal">
                        <img src="../image/img9.jpg" width="50" alt="Carrinho">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</center>
</body>
</html>
